# Arquivos de configuração de IDE e SO
.vscode/
.idea/
.DS_Store

# Arquivos de log gerais
*.log

# Ambientes virtuais na raiz (se houver)
/venv/
/env/

# Arquivos de banco de dados na raiz
*.sqlite3
